h1{
    color:rgb(30, 146, 155);
    font-size: 100px;
}
h2{
    color:#46484c;
}
h2{
    color:#46484c;
}
b{
    color:#8b8b8bcc;
}

button{
    color:#fff;
    background-color: #025157;
}
body{
    background-color: #b96f25;

}
.header {
margin:40px 20px 0 20px;
  font-size: 0;
  line-height: 45px;
 
  
}

li {
  display: inline;
}

.header > * {
  display: inline-block;
  font-size: 16px;
  vertical-align: middle;
  height: 100%;
  line-height: 45px;
}

.logo {
  width: 15%;
}

.navbar {
  width: 70%;
  text-align: left;
  color: green;
font-family:sans-serif;
height: 45px;

}
.navbar li{
margin-left:25px;
}

.actions {
  width: 15%;
  text-align: right;
  font-size: 14px;

}

.actions > * {
margin:0 10px 0 10px;
}

.actions a {
  color: #67b54b;
}

.actions button {
  color: white;
  background-color: #67b54b;
  padding-left: 14px;
  padding-right: 14px;
  padding-top: 12px;
  padding-bottom: 12px;
  border: 0;
  border-radius: 5px;
}
